
<div>
    <app-carrusel></app-carrusel>
    <div class="container">

        <div class="row ">
                <h4 class="text-3xl my-4">Productos destacados </h4>
                <app-card></app-card>
                <app-card></app-card>
                <app-card></app-card>
        </div>
        <div class="row ">
            <h4 class="text-3xl my-4 ">Productos recomendados </h4>
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
    </div>
    </div>
    <app-footer></app-footer>
</div>
        